{% extends "base.html" %}
{% set active_page = "Network" %}
{% set refresh_interval = 5 %}
{% block content %}
    <h3>VPN</h3>
    <p>Status: {{ status }}</p>
    <div class="btn-group" role="group">
        {% if vpn_status == 0 %}
            <a class="btn btn-primary" href="/api/vpn/connect">Connect</a>
        {% else %}
            <a class="btn btn-danger" href="/api/vpn/disconnect">Disconnect</a>
        {% endif %}
        <a class="btn btn-secondary" href="/vpn/modify">Edit</a>
    </div>
    <br/>
    <br/>
    <h3>Proxy</h3>
    <p>Status: {{ proxy }}</p>
    {% if proxy == "Active" %}
        <a class="btn btn-danger" href="/api/proxy/stop">Stop</a>
    {% else %}
        <a class="btn btn-primary" href="/api/proxy/start">Start</a>
    {% endif %}
{% endblock %}