{% extends "base.html" %}
{% set active_page = "Agents" %}
{% set refresh_interval = 5 %}
{% block content %}
    <script>
        window.history.replaceState({}, document.title, "/" + "agents");
    </script>
    <p>Agents run on blue machines - owned and defended by our own team.  Adding agents enables increased defense and exploit repurposing capabilities.</p>
    <a class="btn btn-primary" href="/agents/init">Edit Init Scripts</a>
    <br/>
    <br/>
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">IP</th>
            <th scope="col">SSH Port</th>
            <th scope="col">Hostname</th>
            <th scope="col">OS</th>
            <th scope="col">User</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for agent in agents.values() %}
            {% if agent.status_code == 0 %}
                <tr class="table-warning">
            {% elif agent.status_code == 1 %}
                <tr class="table-info">
            {% elif agent.status_code == 2 %}
                <tr class="table-success">
            {% else %}
                <tr class="table-danger">
            {% endif %}
                <th scope="row">{{ agent.ip }}</th>
                <th scope="row">{{ agent.port }}</th>
                <th scope="row">{{ agent.hostname }}</th>
                <th scope="row">{{ agent.os }}</th>
                <th scope="row">{{ agent.user }}</th>
                <th scope="row">{{ agent.status }}</th>
                <td>
                    <div class="btn-group" role="group">
                        {% if agent.capture == 0 %}
                            <a class="btn btn-success" href="/api/traffic/start?ip={{ agent.ip }}">Start Capture</a>
                        {% else %}
                            <a class="btn btn-warning" href="/api/traffic/stop?ip={{ agent.ip }}">Stop Capture</a>
                        {% endif %}
                        <a class="btn btn-danger" href="/api/agents/delete?ip={{ agent.ip }}">Delete</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    <h3>Add New Agent</h3>
    <a class="btn btn-primary" href="/agents/new">Add Agent</a>
{% endblock %}