{% extends "base.html" %}
{% set active_page = "Traffic" %}
{% block content %}
    <h1>Sources</h1>
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">IP</th>
            <th scope="col">Total Packets</th>
            <th scope="col">Last Seen</th>
        </tr>
        </thead>
        <tbody>
        {% for source in sources.values() %}
            <tr>
                <td scope="row">{{ source.ip }}</td>
                <td scope="row">{{ source.packetcount }}</td>
                <td scope="row">{{ source.lastseen }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}