{% extends "base.html" %}
{% set active_page = "Home" %}
{% set refresh_interval = 20 %}
{% block content %}
    <h3>Users</h3>
    <a href="/logout" class="btn btn-secondary">Logout</a>
    <br/>
    <br/>
    <a href="/users" class="btn btn-primary">Manage Users</a>
    <br/>
    <br/>
    <h3>Statistics</h3>
    <table class="table table-hover table-bordered">
        <tbody>
        <tr>
            <td>Total Targets</td>
            <td>{{ total_targets }}</td>
        </tr>
        <tr>
            <td>Running Exploits</td>
            <td>{{ total_exploits }}</td>
        </tr>
        <tr>
            <td>Flags Found</td>
            <td>{{ total_found }}</td>
        </tr>
        <tr>
            <td>Flags Submitted</td>
            <td>{{ total_submitted }}</td>
        </tr>
        </tbody>
    </table>
    <a class="btn btn-danger" href="/api/counters/reset">Reset Statistics</a>
    <br/>
    <br/>
    <h3>Backup and restore</h3>
    <form action="/api/backup/upload" method="post" enctype="multipart/form-data">
        <a class="btn btn-primary" href="/api/backup/download" target="_">Download Backup</a>
        <input type="file" name="backup" id="backup" accept="application/gzip, .gz" style="display:none;" onchange="this.form.submit()">
        <input class="btn btn-primary" value="Upload Backup" onclick="document.getElementById('backup').click();">
    </form>
    <br/>
    <br/>
    <h3>Updates</h3>
    <p>{{ update_status }}</p>
    <a class="btn btn-danger" href="/api/update">Update System</a>
{% endblock %}