{% extends "base.html" %}
{% set active_page = "Home" %}
{% block content %}
    <table class="table table-hover table-bordered">
        <tbody>
        <tr>
            <td>Total Targets</td>
            <td>{{ total_targets }}</td>
        </tr>
        <tr>
            <td>Running Exploits</td>
            <td>{{ total_exploits }}</td>
        </tr>
        <tr>
            <td>Flags Found</td>
            <td>{{ total_found }}</td>
        </tr>
        <tr>
            <td>Flags Submitted</td>
            <td>{{ total_submitted }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}