{% extends "base.html" %}
{% set active_page = "Services" %}
{% block content %}
    <script>
        window.history.replaceState({}, document.title, "/" + "services");
    </script>
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">Flags Collected</th>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for service in services.values() %}
            <tr>
                <form action="/api/services/update" method="post">
                    <input type="hidden" name="id" value={{ service.id }}>
                    <th scope="row">{{ service.flags_collected }}</th>
                    <td><input class="form-control" type="number" name="newid" value="{{ service.id }}" required></td>
                    <td><input class="form-control" type="text" name="name" value="{{ service.name }}" required></td>
                    <td><input class="form-control" type="text" name="notes" value="{{ service.notes }}"></td>
                    <td>
                        <div class="btn-group" role="group">
                            <input class="btn btn-primary" type="submit" value="Update">
                            <a class="btn btn-danger" href="/api/services/delete?id={{ service.id }}">Delete</a>
                        </div>
                    </td>
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    <h3>Add New Service</h3>
    <form action="/api/services/create" method="post">
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <td>
                        {{ input("ID", "id", "number") }}
                    </td>
                    <td>
                        {{ input("Name", "name", "text") }}
                    </td>
                    <td>
                        {{ input("Notes", "notes", "text", "", "") }}
                    </td>
                    <td>
                        <input class="btn btn-primary" type="submit" value="Add">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}