{% extends "base.html" %}
{% set active_page = "Submitter Script" %}
{% block content %}
    <form action="/api/submitter/update" method="post">
        {{ input("Rate Limiting (ms)", "rate", "number", rate) }}
        <div class="form-group">
            <label for="code">Submitter Script</label>
            <p>Script will be run with the following syntax: ./submit &lt;flag&gt;</p>
            <select class="form-control" name="template" id="select-template" onchange="document.location = '/submitter?template=' + document.getElementById('select-template').value;">
                <option value="" selected>Load Template...</option>
                {% for template in templates %}
                    <option value="{{ template }}" >{{ template }}</option>
                {% endfor %}
            </select>
            <textarea class="form-control" id="code" name="code" rows="20">{{ code }}</textarea>
        </div>
        <a class="btn btn-secondary" href="/">Back</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}