{% extends "base.html" %}
{% set active_page = "Teams" %}
{% block content %}
    <script>
        window.history.replaceState({}, document.title, "/" + "users");
    </script>
    <table class="table table-hover table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Actions</th>
            <th scope="col">Last Login</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users.values() %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.last_login }}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-danger" href="/api/users/delete?username={{ user.username }}">Delete</a>
                    </div>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    <h3>Add New User</h3>
    <form action="/api/users/create" method="post" autocomplete="new-password">
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <td>
                        {{ input("Username", "thing1", "text") }}
                    </td>
                    <td>
                        {{ input("Password", "thing2", "password") }}
                    </td>
                    <td>
                        <input class="btn btn-primary" type="submit" value="Add">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <br/>
    <h3>Change Password</h3>
    <form action="/api/users/change_password" method="post" autocomplete="new-password">
        {{ input("Password", "thing2", "password") }}
        <input class="btn btn-primary" type="submit" value="Change">
    </form>
{% endblock %}