{% extends "base.html" %}
{% set active_page = "VPN" %}
{% block content %}
    <form action="/api/vpn/update" method="post" enctype=multipart/form-data>
        {{ input("Related file (will be renamed to vpn.dat)", "file", "file", options="") }}
        <code>
            <textarea class="form-control" id="code" name="code" rows="20">{{ code }}</textarea>
        </code>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
    <br/>
    <br/>
    <a class="btn btn-primary" href="/api/vpn/connect">Connect</a>
    <a class="btn btn-danger" href="/api/vpn/disconnect">Disconnect</a>
{% endblock %}